:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  x: 0;
  y: -10px;
}

.nav-btn {
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  background-color: var(--nav-btn-color);
}
